body {
  background-color: gray;
}
.header-backing {
  height: 350px;
  margin: 0;
  padding: 0;
}
.header-section {
  background-image: url("http://i.imgur.com/wP7CIzq.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: inherit;
  width: inherit;
  box-shadow: 3px 3px 4px black;
}


.contentRight {
  border: 1px solid darkgrey;
  margin: 10px;
  width: 48%;
  box-shadow: 3px 3px 4px black;
  min-height: 600px;
  border-radius: 25px;


}

.info {
  opacity: 1;
  text-align: center;
  padding: 5px;
  width: 725px;
  background-color: gray;
  margin: auto;
  margin-top: 100px;
  border: 2px solid;
  border-radius: 25px;
}

button {
  margin: 10px;
  box-shadow: 3px 3px 4px black;

}

.page-title {
  color: black;

}
.blurb {
  margin-top: 10px;
  padding: 5px;
  border: 2px solid;
  border-radius: 25px;
  box-shadow: 3px 3px 4px black;
  background-color: #dfc89f;

}
.thick {
  font-weight: bold;
}


.footer {
  color: #AEB6BF;
  background-color:#2c2a37;
  border-radius: 25px;
  box-shadow: 3px 3px 4px black;
}

h4 {
  color: white;
}
